<h2 class="list-group-item-heading" ng-bind-html="title | sanitize"></h2>
<blockquote>
  <p ng-bind-html="body + '..' | sanitize"></p>
  <footer>{{ author }}</footer>
</blockquote>
<p><small class="pull-right">{{ date | date: dateFormat }}</small></p>
<p><small>{{ comments.length }} comments</small></p>