doctype html
html
  head
    title Q&A Null Pointer
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  
  body(ng-app='gardenizeApp', ng-cloak)

    nav(class='navbar navbar-default navbar-fixed-top')
        div(class='container-fluid')
            
            div(class='navbar-header')
                a(class='navbar-brand' href='/#/') Q&A Null Pointer

            ul(class='nav navbar-nav')
                li: a(href='/#/') Home
                li: a(href='/#/questions') Questions
                li: a(href='/#/questions/new') Ask Question

    div(class='container')
        div(ng-view)

    script(src='https://code.angularjs.org/1.3.10/angular.js')
    script(src='https://code.angularjs.org/1.3.10/angular-route.min.js')

    script(src='/static/javascripts/app/app.js')
    script(src='/static/javascripts/app/config.js')
    script(src='/static/javascripts/app/controllers.js')
    script(src='/static/javascripts/app/services.js')
    script(src='/static/javascripts/app/directives.js')
    script(src='/static/javascripts/app/filters.js')

    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
