<div class="row">
	<div class='col-md-8 col-md-offset-2'>

		<h1>Questions</h1>

		<hr/>

		<div class="btn-group btn-group-justified" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <a href="/#/questions/" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[questionsCtrl.filterType !== 'answered' && questionsCtrl.filterType !== 'unanswered' ]">All</a>
		  </div>
		  <div class="btn-group" role="group">
		    <a href="/#/questions/filter/answered" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[questionsCtrl.filterType === 'answered']">Answered</a>
		  </div>
		  <div class="btn-group" role="group">
		    <a href="/#/questions/filter/unanswered" class="btn" ng-class="{true: 'btn-primary', false: 'btn-default'}[questionsCtrl.filterType === 'unanswered']">Unanswered</a>
		  </div>
		</div>

		<hr/>

		<div ng-show="questionsCtrl.questions && questionsCtrl.questions.length > 0">
			<div ng-repeat="question in questionsCtrl.questions | orderBy : '-date'">
				<div class="list-group">
				  <a href="/#/questions/{{ question._id }}" class="list-group-item">
				  	<question title="question.title"
				  			  body="question.body.slice(0, 100)"
				  			  author="question.author"
				  			  date="question.date"
				  			  date-format="dd-MMMM-yyyy"
				  			  comments="question.comments">
				  	</question>
				  </a>
				</div>
			</div>
		</div>

		<div ng-show="!questionsCtrl.questions || questionsCtrl.questions.length == 0">
			We have no questions for you
		</div>

	</div>
</div>