<div class='row'>
	<div class='col-md-8 col-md-offset-2'>
		<form name="newQuestion" ng-submit="newQuestion.$valid && questionsCtrl.addQuestion()" novalidate>
			<h1 class="display-1">Ask question</h1>
			<div class="form-group">
				<label for="title">Title</label>
		    	<input type="text" class="form-control" ng-model="title" id="title" placeholder="Title" required>
		  	</div>
		  	<div class="form-group">
		    	<label for="body">Question</label>
		    	<textarea class="form-control" rows="5" ng-model="body" id="body" placeholder="Hm, what are you doing with your life ?" required></textarea>
		  	</div>
		  	<div class="form-group">
				<label for="author">Author</label>
		    	<input type="text" class="form-control" ng-model="author" id="author" placeholder="Author" required>
		  	</div>
		  	<button type="submit" class="btn btn-primary" ng-disabled="newQuestion.$invalid">Please, clarify me this!</button>
		</form>
	</div>
</div>