<div class='row'>
	<div class='col-md-8 col-md-offset-2'>

		<div ng-show="questionDetailsCtrl.question">
		
			<h1 class="display-1" ng-bind-html="questionDetailsCtrl.question.title | sanitize"></h1>

			<h5 ng-bind-html="questionDetailsCtrl.question.body | sanitize"></h5>

			<p><small class="pull-right">{{ questionDetailsCtrl.question.date | date:'dd-MMMM-yyyy' }}</small></p>
			<p><small><em>Author: {{ questionDetailsCtrl.question.author }}</em></small></p>

			<hr/>

			<h4>Comments</h4>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="comment in questionDetailsCtrl.question.comments | orderBy : '-date'">
					<comment body="comment.body" author="comment.author" date="comment.date" date-format="dd-MMMM-yyyy"></comment>
				</li>
			</ul>

			<form name="addComment" ng-submit="addComment.$valid && questionDetailsCtrl.addComment()">
				<h4>Write comment</h4>
				<div class="form-group">
					<label for="author">Author</label>
			    	<input type="text" class="form-control" ng-model="author" id="author" placeholder="Author" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="body">Comment</label>
			    	<textarea class="form-control" rows="5" ng-model="body" id="body" placeholder="I think.." required></textarea>
			  	</div>
			  	<button type="submit" class="btn btn-primary" ng-disabled="addComment.$invalid">Add comment!</button>
			</form>

		</div>

		<div ng-hide="questionDetailsCtrl.question">
			<p>We didn't find such question.</p>
		</div>

	</div>
</div>